# Ignorar todos los archivos
*

# Pero no ignorar archivos .py (en cualquier directorio)
!*.py
!**/*.py

# No ignorar directorios para poder acceder a archivos .py dentro
!*/

# No ignorar el archivo .gitignore
!.gitignore

# No ignorar requirements.txt
!requirements.txt

# No ignorar README.md
!README.md

# No ignorar carpeta de screenshots
!screenshots/
!screenshots/* 