# ai-photo-processor/requirements.txt

# --- Core Application Framework ---
PyQt5

# --- Data Handling ---
pandas
numpy

# --- Google API ---
google-generativeai

# --- Image Processing ---
Pillow
piexif
rawpy
pyexiftool
pillow-heif

# --- Build Tool (for build.py) ---
PyInstaller